<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <title>Guest WiFi</title>
  <link rel="icon" href="/img/favicon.svg" type="image/svg+xml"/>
  <link rel="alternate icon" href="/img/favicon.png" type="image/png"/>
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" sizes="180x180"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  {% block stylesheets %}{% endblock %}
</head>

<body>
<picture>
  {% set season = '.' %}
  {% if background %}
    {% set today = 'NOW'|date('U') %}
    {% set spring = 'March 20'|date('U') %}
    {% set summer = 'June 20'|date('U') %}
    {% set fall = 'September 22'|date('U') %}
    {% set winter = 'December 21'|date('U') %}

    {% if today >= spring and today < summer %}
      {% set season = 'q1' %}
    {% elseif today >= summer and today < fall %}
      {% set season = 'q2' %}
    {% elseif today >= fall and today < winter %}
      {% set season = 'q3' %}
    {% else %}
      {% set season = 'q4' %}
    {% endif %}
  {% endif %}
  <source srcset="/img/bg/{{ season }}/bg-sm.avif 576w, /img/bg/{{ season }}/bg-md.avif 768w, /img/bg/{{ season }}/bg-lg.avif 1920w, /img/bg/{{ season }}/bg.avif" type="image/avif">
  <source srcset="/img/bg/{{ season }}/bg-sm.webp 576w, /img/bg/{{ season }}/bg-md.webp 768w, /img/bg/{{ season }}/bg-lg.webp 1920w, /img/bg/{{ season }}/bg.webp" type="image/webp">
  <img srcset="/img/bg/{{ season }}/bg-sm.jpg 576w, /img/bg/{{ season }}/bg-md.jpg 768w, /img/bg/{{ season }}/bg-lg.jpg 1920w, /img/bg/{{ season }}/bg.jpg" type="image/jpeg" draggable="false" onmousedown="return false" class="background d-print-none noselect">
</picture>

<div class="container px-4">
  <div class="position-absolute top-50 start-50 translate-middle w-100 row justify-content-center gx-0 gy-2 g-md-2">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="main">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block secondary %}{% endblock %}
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
{% block javascript %}{% endblock %}
</body>

</html>
